<h1 style="text-align: center;">Structural directives</h1>
<h1>If statement</h1>
<!-- simple if else condition -->
<p *ngIf="ifcase else elsecase">If Block statement</p>
<ng-template #elsecase>
  <p>else block statement</p>
</ng-template>
<!-- simple if else condition ...other than boolean -->
<p *ngIf="gender=='male' else female">Welcome gentlemen</p>
<ng-template #female>
  <p>Welcome ladies</p>
</ng-template>
<!-- simple if else statements -->
<p *ngIf="lottery=='yes'; then won else lost"></p>name
<ng-template #won>
  <p>Congratulation!!!You have won the lattery prize</p>
</ng-template>
<ng-template #lost>
  <p>Sorry!!Better luck next time</p>
</ng-template>
<!-- elseif -->
<ng-template [ngIf]="color=='blue'">
  <p>Blue color</p>
</ng-template>
<ng-template [ngIf]="color=='green'">
  <p>Green color</p>
</ng-template>
<ng-template [ngIf]="color=='yellow'">
  <p>Yellow color</p>
</ng-template>
<h1>Switch case</h1>
<div [ngSwitch]="status">
  <h3 style="color : green;" *ngSwitchCase="'ok'">Success</h3>
  <h3 style="color : yellow;" *ngSwitchCase="'Warn'">Warning</h3>
  <h3 style="color : red;" *ngSwitchCase="'error'">Error</h3>
  <h3 style="color : grey" *ngSwitchDefault>Unknown bug</h3>
</div>
<h1>For Loop</h1>
<h3 *ngFor="let name of countries">
  {{name}}
</h3>
<table border="1">
  <tr style="background-color:greenyellow;">
    <td>S.No</td>
    <td>Country</td>
    <td>Code</td>
  </tr>
<tr *ngFor="let phCode of phoneCode;let i=index">
  <td style="background-color: aqua;">{{i+1}}</td>
  <td style="background-color:lightcoral;">{{phCode.country}}</td>
  <td style="background-color:gold;">{{phCode.code}}</td>
</tr>
</table>